// Main Layout Styles
header {
  height: 4rem;
  background-color: var(--bg-color-primary);
  box-shadow: var(--layout-box-shadow);
}

main {
  height: 100vh;
  z-index: 0;
}

footer {
  position: relative;
  padding: 2rem 0;
  z-index: 1;
  background-color: var(--bg-color-primary);
  box-shadow: var(--layout-box-shadow);
}