.home-container {
  min-height: 100vh;
  gap: 2rem;
}

button {
  all: unset;
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;

  &:active {
    transform: scale(0.98);
  }
}